<div class="d-flex  align-items-center container-fluid w-100 p-5 color-light colores" style="height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-grid gap-2">
                    <button class="btn btn-info"><a href="admin/productos" style="text-decoration: none; color:#9398A6">Productos ABM</a></button>
                    <button class="btn btn-info"><a href="/admin/usuarios" style="text-decoration: none; color:#9398A6">Usuarios ABM</a></button>
                </div>
            </div>
        </div>
    </div>
</div>