<div class="container-fluid w-100 p-5 color-light colores">
<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #31425D;">
  <div class="container-fluid justify-content-between">
    <div class="container-fluid justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 d-flex justify-content-start">
        <li class="nav-item" style="width: 10%;">
          <a class="nav" aria-current="page" href="/"><img src="/images/mm.JPG" width="50px" style="border-radius: 30px;"></a>
        </li>
        <li class="nav-item li">
          <a class="nav li" href="#contacto">Contacto</a> <!--con este boton nos dirigimos a la ubicacion de la etiqueta "name" (name=contacto) en el icono de instagram-->
        </li>
       <li class="nav-item li">
          <a class="nav li" href="/nosotros" tabindex="-1" aria-disabled="true">Nosotros</a>
        </li>
        <li class="nav-item dropdown li">
          <a class="nav li dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/veranito">Veranito</a></li>
            <li><a class="dropdown-item" href="#">Para el frio</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Accesorios</a></li>
          </ul>
        </li>
        <li class="nav-item d-flex justify-content-end" style="width: 50%;">
          <a class="nav li" aria-current="page" style="width: 25%;" href="/registro">Registrate</a>
          <a class="nav li" aria-current="page" style="width: 25%;" href="/login">Iniciar Sesion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>

<div class="colores d-flex justify-content-center align-items-center" style="color:#9398A6; height: 75vh;">
    <form method="POST" action="/login" class=" mb-3 w-25" >
         <div class="form-group">
            <label for="InputUsername">Ingrese su usuario<span class="text-danger">*</span></label>
            <input type="text" name="username" class="form-control" id="InputUsername">
        </div>
        <div class="form-group">
            <label for="InputPassword">Ingrese su contraseña<span class="text-danger">*</span></label>
            <input type="password" class="form-control" name="pass" id="InputPassword">
        </div>
        <p class="text-danger">{{message}}</p>
        <button type="submit" class="btn btn mt-4">Ingresar</button>
    </form>
</div>

<div>
<footer class="footer py-3" style="background-color: #31425D">
  <div class="container">
   <span class="text-muted">
      <p style="text-decoration: none; color:#9398A6">Seguinos en nuestras redes sociales</p>
      <p>
        <a href="https://www.facebook.com/MandaleMecha-110978354009335"  style="text-decoration: none; color:#9398A6">
          <i class="fab fa-facebook-square"></i> MandaleMecha</p>
        </a>
      <p>
        <a href="https://www.instagram.com/mandalemechaind/?hl=es-la" style="text-decoration: none; color:#9398A6">
          <i class="fab fa-instagram-square" id= "contacto"></i> mandalemechaind
        </a>  
      </p>
    </span>
   </div>
</footer>
</div>