<div class="btn mb-2 mb-lg-0 d-flex justify-content-between">
          <a class="btn btn-info" aria-current="page" href="/">
          <span class="material-icons-outlined">Volver</span>
          </a>
          <a class="btn btn-info" aria-current="page" href="/login">
          <span class="material-icons-outlined">Iniciar Sesion</span>
          </a>
</div>

<div class="d-flex  align-items-center container-fluid w-100 p-5 color-light colores" style="width: 100%;">
    <div class="row justify-content-center mt-5">
        <div class="col-12"></div>
            <h3 class="text-danger d-flex justify-content-center">NECESITAS SER ADMINISTRADOR PARA ACCEDER</h3>
            <img src="/images/401.png" alt="...">
    </div>
</div>