<div class="container-fluid w-100 p-5 color-light colores">
<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #31425D;">
  <div class="container-fluid justify-content-between ">
    <div class="container-fluid justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 d-flex justify-content-start">
        <li class="nav-item" style="width: 10%;">
          <a class="nav" aria-current="page" href="/"><img src="/images/mm.JPG" width="50px" style="border-radius: 30px;"></a>
        </li>
        <li class="nav-item li">
          <a class="nav li" href="#contacto">Contacto</a> <!--con este boton nos dirigimos a la ubicacion de la etiqueta "name" (name=contacto) en el icono de instagram-->
        </li>
       <li class="nav-item li">
          <a class="nav li" href="/nosotros" tabindex="-1" aria-disabled="true">Nosotros</a>
        </li>
        <li class="nav-item dropdown li">
          <a class="nav li dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/veranito">Veranito</a></li>
            <li><a class="dropdown-item" href="/productos">Para el frio</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Accesorios</a></li>
          </ul>
        </li>
        <li class="nav-item d-flex justify-content-end" style="width: 50%;">
          <a class="nav li" aria-current="page" style="width: 25%;" href="/registro">Registrate</a>
          <a class="nav li" aria-current="page" style="width: 25%;" href="/login">Iniciar Sesion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>

<div class="container colores" style="height: 50vh;"style="width: 100%;">
    <div class="row">
        <div class="col-12">

              <div class="card mt-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{usuario.username}}</h5>
                    <p class="card-text">Mail: {{usuario.mail}}</p>
                    <p class="card-text">Telefono: {{usuario.telefono}}</p>
                    <a href="/usuarios/edit" class="btn btn-primary">Editar</a>
                </div>
              </div>
        </div>
    </div>
</div>


<div>
<footer class="footer py-3" style="background-color: #31425D">
  <div class="container">
   <span class="text-muted">
      <p style="text-decoration: none; color:#9398A6">Seguinos en nuestras redes sociales</p>
      <p>
        <a href="https://www.facebook.com/MandaleMecha-110978354009335"  style="text-decoration: none; color:#9398A6">
          <i class="fab fa-facebook-square"></i> MandaleMecha</p>
        </a>
      <p>
        <a href="https://www.instagram.com/mandalemechaind/?hl=es-la" style="text-decoration: none; color:#9398A6">
          <i class="fab fa-instagram-square" id= "contacto"></i> mandalemechaind
        </a>  
      </p>
    </span>
   </div>
</footer>
</div>